@import "../../../../../scss/mix";
@import "../../../../../scss/var";

.page-header {
    height: 64px;
    padding: 0px 20px;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    @include fpos(center, space-between);
    background: $white;
    user-select: none;

    @media screen and (max-width: 992px) {
        left: 0px;
        width: 100%;
    }

    .left-portion {
        @include fpos(center, flex-start);

        .hamburger-icon {
            color: $primary-light;
            font-size: 28px;
            width: 30px;
            height: 64px;
            @include fpos(center, center);
            cursor: pointer;
            margin-right: 20px;
            @media screen and (max-width: 576px) {
                font-size: 20px;
                display: none;
            }
        }

        .close-icon {
            display: none;

            @media screen and (max-width: 576px) {
                display: block;
            }
        }

        .logo-cover {
            align-items: center;
            color: $seaGreen;
            padding: 0px 10px;
            width: 140px;
            transition: 0.3s;
            cursor: pointer;

            img {
                width: 100%;
                display: table-cell;
            }
        }

        .search-box {
            margin-left: 100px;
            position: relative;
            input {
                border: none;
                padding-left: 25px;
                height: 46px;
                text-overflow: ellipsis;
                font-size: 16px;
                &::placeholder {
                    font-size: 18px;
                    color: $secondary-light;
                }
            }
            img {
                position: absolute;
                left: 0px;
                top: 10px;
            }
        }
    }

    .btn-group {
        @include falign(center);
        background: rgba($color: $purple, $alpha: 0.05);
        border-radius: 50px;
        padding: 0px 0px 0px 10px;

        .profile-name {
            @include falign(center);

            .profileName {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                max-width: 110px;
                color: $blue;
                font-size: 15px;
                margin-left: 10px;
            }
        }

        .user-img-cover {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0px 15px;
            transition: 0.2s;
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);

            &:hover {
                box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.5);
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .mat-icon-button {
            width: 40px;
            height: 40px;
            padding: 0;
            border-radius: 50%;
            color: $primary-light !important;
            padding: 0px !important;

            .mat-icon {
                width: auto;
                color: $primary-light;
            }
        }
    }
}

::ng-deep {
    .profile-img {
        width: 25px;
        height: 25px;

        .imgWrapper {
            img {
                border-radius: 50%;
            }
        }
    }

    .notificationBackdrop {
        background-color: rgba(13, 13, 13, 0.15);

        & + .cdk-overlay-connected-position-bounding-box {
            .notification-dropdown {
                margin-top: 16px;

                &.mat-menu-panel {
                    min-width: 380px;
                    max-height: 390px;

                    @media screen and (max-width: 576px) {
                        min-width: 90vw;
                    }
                }

                .dropdown-box-header {
                    @include fpos(center, space-between);
                    padding: 8px 10px 8px 20px;
                    border-bottom: 1px solid rgba($color: $alto, $alpha: 0.25);

                    .dropdown-box-header-title {
                        font-size: 15px;
                        font-weight: 700;
                        color: $primary-light;
                        margin-bottom: 0;
                    }

                    .mark-all-as-read-button {
                        font-size: 14px;
                        color: $textColor;
                    }
                }

                .mat-menu-content {
                    .dropdown-box-list {
                        margin-bottom: 0;

                        li {
                            &:not(:nth-last-of-type(1)) {
                                border-bottom: 1px solid rgba($color: $alto, $alpha: 0.25);
                            }
                        }
                    }

                    .user-status {
                        @include falign(flex-start);
                        padding: 12px 20px;

                        .user-status-avatar {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            overflow: hidden;
                            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .user-status-info {
                            flex: 1;
                            padding: 0 15px;

                            .user-status-title {
                                margin-bottom: 0px;
                                color: $purple;
                                font-size: 0.85rem;
                                font-weight: 500;
                                line-height: 1.4285714286em;
                                flex: 1;

                                .bold {
                                    color: $purple;
                                    font-weight: 600;
                                }

                                .highlighted {
                                    color: $primary-light;
                                    font-weight: 700;
                                }
                            }

                            .user-status-timestamp {
                                font-size: 0.75rem;
                                font-weight: 500;
                                color: $textColor;
                                margin-top: 7px;
                                display: inline-block;
                            }
                        }

                        .user-status-icon {
                            margin-top: 10px;

                            .mat-icon {
                                color: $green;
                            }
                        }

                        &:hover {
                            background-color: rgba($color: $primary-light, $alpha: 0.1);
                        }
                    }
                }
            }
        }
    }
}
