@import "../../../scss/var";
@import "../../../scss/mix";

.breadcrumb {
    @include falign(center);
    font-size: 14px;
    margin-bottom: 10px;

    span {
        cursor: pointer;
        outline: none;
        transition: 0.3s ease all;
        font-size: 14px;

        &:hover {
            color: $primary;
        }

        &:nth-last-child(2) {
            color: $primary;
            font-weight: 700;
            font-size: 14px;
            pointer-events: none;
        }
    }

    .mat-icon {
        width: 30px;
        height: 14px;
        font-size: 14px;
        text-align: center;
    }

    .mat-icon:last-child {
        display: none;
    }
}

@media (max-width: 882px) {
    .breadcrumb {
        font-size: 12px;

        .mat-icon {
            font-size: 12px;
        }
    }
}