
    <!-- reset-password--->
<!-- please add back button here -->


    <div class="page-forgot">
      <h3 class="head-text bold mb-10">Reset Password</h3>
      <div class="head-mini mb-20 pb-10">Enter your new password.</div>
      <form [formGroup]="resetForm" (ngSubmit)="resetHandler()">
    
        <mat-label class="mat-label">NEW PASSWORD</mat-label>
        <mat-form-field appearance="outline" class="passwordFormField">
          <input autocomplete="off" #pass matInput placeholder="Your Password" required formControlName="password"
          [maxlength]="limit?.MAX_PASSWORD_LENGTH" [type]="hide1 ? 'password' : 'text'"
          (keydown.space)="$event.preventDefault()" (input)="resetControlError()" (blur)="onBlur()" />
          <mat-icon class="pointer" matSuffix (click)="hide1 = !hide1">
            <img *ngIf="hide1" src="assets/images/svg/eye-slash.svg" alt="Hidden">
            <img *ngIf="!hide1" src="assets/images/svg/eye.svg" alt="Visible">
            <!-- {{hide ? 'visibility_off' : 'visibility'}} -->
          </mat-icon> 
          <mat-error *ngIf="frmCtrl.password.hasError('required')">{{errorMsg?.NEW_PASSWORD_REQ}}
          </mat-error>
          <mat-error *ngIf="frmCtrl.password.hasError('pattern')">{{errorMsg?.INVALID_NEW_PASSWORD}}
          </mat-error>
          <mat-error *ngIf="frmCtrl.password.hasError('space')">{{errorMsg?.NO_SPACE_NEW_PASSWORD}}
          </mat-error>
        </mat-form-field>

        <mat-label class="mat-label">CONFIRM PASSWORD</mat-label>
        <mat-form-field appearance="outline" class="passwordFormField">
          <input autocomplete="off" #cPass matInput placeholder="Confirm Your Password" required
        formControlName="confirmPassword" [maxlength]="limit?.MAX_PASSWORD_LENGTH" [type]="hide2 ? 'password' : 'text'"
        (keydown.space)="$event.preventDefault()" />
          <mat-icon class="pointer" matSuffix (click)="hide2 = !hide2">
            <img *ngIf="hide2" src="assets/images/svg/eye-slash.svg" alt="Hidden">
            <img *ngIf="!hide2" src="assets/images/svg/eye.svg" alt="Visible">
            <!-- {{hide ? 'visibility_off' : 'visibility'}} -->
          </mat-icon>
          <mat-error class="error-message" *ngIf="frmCtrl.confirmPassword.hasError('required')">
            {{errorMsg?.C_PASSWORD_REQ}}
          </mat-error>
          <mat-error class="error-message" *ngIf="frmCtrl.confirmPassword.hasError('pattern')">
            {{errorMsg?.INVALID_C_PASSWORD}}
          </mat-error>
          <mat-error class="error-message" *ngIf="frmCtrl.confirmPassword.hasError('space')">
            {{errorMsg?.NO_SPACE_C_PASSWORD}}
          </mat-error>
          <mat-error class="error-message" *ngIf="frmCtrl.confirmPassword.hasError('notMatch')">
            {{errorMsg?.CONFORM_PASSWORD_MATCH_ERR}}</mat-error>
        </mat-form-field>


        <div class="btn-cover">
          <button type="submit" mat-stroked-button class="btn btn-primary w-100 butn butn__new" [disabled]="resetForm.invalid">Reset</button>
        </div>
    
      </form>
    </div>