@import "../../../../../../../../scss/grid";
@import "../../../../../../../components/show-permissions/show-permissions.component.scss";

.page-add-edit-banners {
    margin-top: -15px;

    .form-title {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    .left-table {
        width: 25%;
    }

    .right-table {
        width: calc(75% / 6);
        padding-top: 20px;
    }

    .pr-15 {
        padding-right: 15px;
    }
}