<div class="page-add-edit-banners">
  <form [formGroup]="roleForm" (ngSubmit)="roleHandler()">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Enter Role</mat-label>
          <input matInput [maxlength]="_limit?.MAX_NAME_LENGTH" formControlName="role" autocomplete="off" required>
          <mat-error>Please enter role</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 mt-20">
        <mat-label class="bold">Add Access Permissions</mat-label>
        <div class="permission_table mt-20">
          <table formArrayName="permission">
            <thead>
              <tr>
                <th colspan="1">Features</th>
                <th colspan="7">Permissions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pre of permissionKey.controls; let preIndex = index" [formGroupName]="preIndex">
                <td class="left-table">
                  <div class="name">{{ pre["controls"].module.value }}</div>
                </td>
                <td class="right-table">
                  <mat-checkbox color="primary"
                    (change)="allPermissionCheckBoxListener($event, preIndex,pre['controls'].module.value)"
                    formControlName="all">All
                  </mat-checkbox>
                </td>
                <td class="right-table pr-15">
                  <mat-checkbox color="primary"
                    (change)="CheckBoxListener($event, preIndex,pre['controls'].module.value)" formControlName="view">
                    View List/Details
                  </mat-checkbox>
                </td>
                <td class="right-table">
                  <mat-checkbox color="primary" (change)="CheckBoxListener($event, preIndex)" formControlName="add">
                    Add
                  </mat-checkbox>
                </td>
                <td class="right-table">
                  <mat-checkbox color="primary" (change)="CheckBoxListener($event, preIndex)" formControlName="edit">
                    Edit
                  </mat-checkbox>
                </td>
                <td class="right-table">
                  <mat-checkbox color="primary" (change)="CheckBoxListener($event, preIndex)" formControlName="delete">
                    Delete
                  </mat-checkbox>
                </td>
                <td class="right-table">
                  <mat-checkbox color="primary" (change)="CheckBoxListener($event, preIndex)"
                    formControlName="activeInactive">
                    Active/Inactive</mat-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="btn-cover">
      <button type="button" class="btn btn-simple" mat-stroked-button (click)="cancelHandler()">Cancel</button>
      <button type="submit" class="btn btn-primary" mat-stroked-button>{{roleId? 'Update':'Save'}}</button>
    </div>
  </form>
</div>
