.page-change-password {
    width: 400px;
    max-width: 100%;
}

.btn-cover {
    justify-content: center;
}

:host ::ng-deep .passwordFormField {
    .mat-icon {
        img {
            width: 100%;
        }
    }

    .mat-form-field-suffix {
        top: 7px !important;
    }
}