<!-- <div class="page-table" [ngClass]="cls">
  <div class="listing-filter" *ngIf="removeId != 1">
    <div class="left-side-filters">
      <app-search-renderer [placeholder]="placeholder" (renderSearch)="searchTable($event)">
      </app-search-renderer>
    </div>

    <div class="right-side-filters">
      <button class="filter-button btn-indicator-cover filterBtn" title="Filter" matBadgeColor="accent"
        (click)="tableFilter(true)">
        <div class="filter-button-bg"></div>
        <mat-icon>filter_list</mat-icon>
      </button>
      <button class="filter-button addBtn" title="Add" (click)="addListing(0)">
        <div class="filter-button-bg"></div>
        <mat-icon>add</mat-icon>
      </button>
      <ng-container *ngIf="length">
        <button class="filter-button" [class]="addCustomClass" [matMenuTriggerFor]="menu" title="Export">
          <div class="filter-button-bg"></div>
          <mat-icon>archive</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="exportList()">as CSV</button>
        </mat-menu>
      </ng-container>

    </div>
  </div>

  <div class="table-container cst-scroll">
    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" class="mat-elevation-z1" matSortDisableClear
      (matSortChange)="sortingData($event)">
      <ng-container *ngFor="let row of heading" [matColumnDef]="row.heading">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!row.sort" class="table-header" [ngClass]="{
            noshort: !row.sort,
            'table-action': row.type == 'action',
            'table-center': row.align == 'center',
            'table-content': row.content == true,
            'table-faq': row.faqContent == true
          }">
          {{ row.heading }}
        </th>
        <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{
            'table-action': row.type == 'action',
            'table-center': row.align == 'center',
            'table-content': row.content == true,
            'table-faq': row.faqContent == true
          }">
          <ng-container [ngSwitch]="row.type">

            <ng-container *ngSwitchCase="'img'">
              <div class="table-image">
                <app-lazy-image [img]="element[row.key]">
                </app-lazy-image>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'link'">
              <ng-container *ngIf="row.faqContent == true;else notForFaq">
                <a class="table-link bold" title="{{element[row.key]?element[row.key]:''}}"
                  (click)="detailInPopup.emit(element)">
                  {{ element[row.key] | emptyValue}}
                </a>
              </ng-container>
              <ng-template #notForFaq>
                <a class="table-link bold" title="{{element[row.key]?element[row.key]:''}}"
                  routerLink="{{ row.link }}/{{ element?.userId ? element?.userId : element?._id }}">
                  {{ element[row.key] | emptyValue}}
                </a>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'formatAmount'">
              <span>{{ element[row.key] | number}} </span>
            </ng-container>

            <ng-container *ngSwitchCase="'formatStatus'">
              <span> {{ element[row.key] | formatStatus:listType}} </span>
            </ng-container>

            <ng-container *ngSwitchCase="'action'">
              <div class="action-icon-cover">
                <ng-container *ngFor="let sta of row.action">
                  <ruby (click)="changeStatus(sta, element, i,listType)" *ngIf="element[row.key] != 'DELETED'">
                    <i class="material-icons icon-check icon-edit" matTooltip="Edit" *ngIf="sta == 1">
                      edit_note
                    </i>
                    <i class="material-icons"
                      [ngClass]="{'icon-unblock': element?.status === API_EVENT.block,'icon-block': element?.status === API_EVENT.active}"
                      [matTooltip]="element?.status === API_EVENT.active ? (listType=='User'?'Block':'Inactive') : (listType=='User'?'Unblock':'Active')"
                      *ngIf="sta == 2">
                      {{element?.status === API_EVENT.block? 'verified': 'block'}}
                    </i>
                    <i class="material-icons icon-delete" *ngIf="sta == 3" matTooltip="Delete">
                      delete_outlined
                    </i>
                    <i class="material-icons icon-primary" *ngIf="sta == 4" matTooltip="Send">
                      open_in_new
                    </i>
                  </ruby>
                </ng-container>
              </div>
            </ng-container>

            <ng-container *ngSwitchDefault>
              <ng-container *ngIf="row.type == 'date'; else time">
                {{ element[row.key] ? (element[row.key] | date: dateType.MEDIUM_DATE) : '-'}}
              </ng-container>
              <ng-template #time>
                <ng-container *ngIf="row.type == 'time'; else dateTime">
                  {{ element[row.key] ? (element[row.key] | date: dateType.SHORT_TIME) : '-'}}
                </ng-container>
                <ng-template #dateTime>
                  <ng-container *ngIf="row.type == 'dateTime'; else normalKeys">
                    {{ element[row.key] ? (element[row.key] | date: dateType.DATE_WITH_TIME) : '-'}}
                  </ng-container>
                  <ng-template #normalKeys>
                    {{ element[row.key] ? element[row.key] : (element[row.key] === 0 ? 0 : "-") }}
                  </ng-template>
                </ng-template>
              </ng-template>
            </ng-container>

          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="matHeaderRow"></tr>
      <tr mat-row *matRowDef="let row; columns: matHeaderRow"></tr>
    </table>
    <mat-paginator #paginator class="table-pagination" *ngIf="length" [length]="length" [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageHandler($event)" showFirstLastButtons></mat-paginator>


    <div class="loading-cover" *ngIf="showLoader">
      <app-data-loader></app-data-loader>
    </div>

    <div class="no-data-cover" *ngIf="notData && !showLoader">
      <app-result-not-found [msg]="notFound"></app-result-not-found>
    </div>
  </div>


  <app-filter [@openClose]="isOpen ? 'open' : 'closed'" (apply)="applyFilter($event)">
    <ng-content select="[role=filter]"></ng-content>
  </app-filter>

</div> -->
