@import '../../../scss/var';

.mat-select-search-hidden {
    visibility: hidden;
}

.mat-select-search-inner {
    position: absolute;
    top: 0;
    border-bottom: 1px solid $silver;
    background-color: $darkGray;
    color: $white;
    width: 100%;
    z-index: 100;

    &.mat-select-search-inner-multiple {
        width: calc(100% + #{2 * 16px - $scrollbar-width});
        min-width: calc(100% + #{2 * 16px - $scrollbar-width});
    }

    .mat-icon {
        font-size: 20px;
    }
}

.mat-select-search-input {
    padding: 16px;
    padding-right: 16px + $clear-button-width;
    box-sizing: border-box;
}

.mat-select-search-no-entries-found {
    padding: 16px;
}

.mat-select-search-clear {
    position: absolute;
    right: 0;
    top: 4px;
}

.searchSuffix {
    position: absolute;
    top: 5px;
    right: 0;
}

::ng-deep .mat-select-search-panel {
    max-height: 350px;
    padding-top: 6px;
}

::ng-deep .cdk-overlay-pane-select-search {
    margin-top: -50px;
}