@import '../../../scss/var';
@import '../../../scss/mix';

.img-cover {
    height: 100%;
    width: 100%;
    position: relative;

    @media screen and (max-width: 768px) {
        height: 80px;
    }

    @media screen and (max-width: 670px) {
        height: 120px;
    }

    .remove-cover {
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: $warn;
        box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.3);
        width: 25px;
        height: 25px;
        right: 5px;
        top: 5px;
        cursor: pointer;
        z-index: 1;

        span {
            color: $white;
            font-size: 20px;
        }
    }

    img,
    video {
        width: 100%;
        height: 100%;
        display: table-cell;
        object-fit: cover;
        border-radius: 8px;
        transition: .3s;
    }

    &:hover {
        .remove-cover {
            @include flexbox;
        }

        img {
            opacity: .6;
        }
    }
}