<zps-dialog [open]="isOpen">
  <div class="confirmation-modal popup-ui expand-popup">
    <div class="popup-header">
      <div class="popup-inner-header">
        <h4>Add Company</h4>
        <span class="material-icons close-icon" (click)="toggle()">close</span>
      </div>
    </div>
    <div class="tabbing_chat">
      <mat-tab-group class="tabs">

        <mat-tab label="Company">
          <app-add-edit-comp></app-add-edit-comp>
        </mat-tab>

        <mat-tab label="Team">
          <app-company-teams></app-company-teams>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</zps-dialog>