<form [formGroup]="faqForm" (ngSubmit)="faqHandler()">
  <div class="page-add-edit-faq popup-ui">
    <div class="popup-header">
      <h4>{{data?.id==0?'Add New':'Edit'}} FAQ</h4>
      <span class="material-icons close-icon" mat-dialog-close>close</span>
    </div>
    <div class="popup-body">

      <mat-form-field appearance="outline">
        <mat-label>Question</mat-label>
        <input matInput #ques1 [maxlength]="_limit?.MAX_QUESTION_LENGTH" formControlName="question" autocomplete="off"
          required />
        <mat-hint align="end">{{ques1.value.length}} / {{_limit?.MAX_QUESTION_LENGTH}}</mat-hint>
        <mat-error>{{errMsg.QUESTION_REQ}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Display Order</mat-label>
        <input matInput number [maxlength]="_limit?.MAX_DISPLAY_ORDER_LENGTH" formControlName="position"
          autocomplete="off" required>
        <mat-error *ngIf="f['position'].hasError('required')">{{errMsg.ORDER_REQ}}</mat-error>
        <mat-error *ngIf="f['position'].hasError('pattern')">{{errMsg.INVALID_ORDER}}</mat-error>
      </mat-form-field>

      <h4 class="left bold mb-10">Answer</h4>
      <quill-editor formControlName="answer"></quill-editor>
      <div id="ql-editor1" hidden [innerHTML]="f.answer.value | safe:'html'"></div>
      <span class="mat-error" *ngIf="f['answer'].errors && (f['answer'].touched || f['answer'].dirty)">
        <label *ngIf="f['answer'].errors.required" class="error-msg">{{errMsg.ANSWER_REQ}}</label>
      </span>
    </div>
    <div class="popup-footer">
      <div class="btn-cover">
        <button type="button" mat-stroked-button mat-dialog-close class="btn btn-simple"> Cancel</button>
        <button type="submit" mat-stroked-button class="btn btn-primary"> {{data?.id==0?'Add':'Update'}}
        </button>
      </div>
    </div>
  </div>
</form>