@import "../../../../../../scss/popup-ui";

:host ::ng-deep {
    .popup-body {
        padding: 10px 20px !important;
    }
    .ql-snow .ql-tooltip {
        left: auto !important;
        top: 0 !important;
        right: 10%;
    }
    .ql-image {
        display: none !important;
    }

    .ql-video {
        display: none !important;
    }
}

