@import "../../../../../../scss/grid";
@import "../../../../../../scss/var";


.document-upload-cover {
    @include fpos(flex-end, flex-start);

    .uploaded-photo-list {
        @include fpos(center, center);

        .single-uploaded-photo {
            width: 120px;
            height: 120px;
            margin: 15px;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
        }
    }
}

:host ::ng-deep {
    quill-editor {
        display: inherit;
    }

    .ql-formats {

        button,
        .ql-picker {
            display: none;
        }

        button {

            &.ql-bold,
            &.ql-italic,
            &.ql-underline,
            &.ql-list,
            &.ql-clean {
                display: inline-block !important;
            }
        }
    }
}