<div class="page-add-edit-banners">
  <form [formGroup]="bannerForm" (ngSubmit)="bannerHandler()">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Banner Title</mat-label>
          <input matInput [maxlength]="_limit?.MAX_NAME_LENGTH" formControlName="title" autocomplete="off" required>
          <mat-error>{{errMsg.TITLE_REQ}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Banner Heading</mat-label>
          <input matInput [maxlength]="_limit?.MAX_NAME_LENGTH" formControlName="heading" autocomplete="off" required>
          <mat-error>{{errMsg.HEADING_REQ}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 mt-20">
        <div class="document-upload-cover">
          <ng-container *ngIf="selectedBannerFiles?.length<maxImageSelection">
            <app-upload-img [isMultiSelection]="false" (sendFiles)="getSelectedFile($event)"></app-upload-img>
          </ng-container>
          <div class="uploaded-photo-list" *ngIf="selectedBannerFiles?.length>0">
            <div class="single-uploaded-photo" *ngFor="let item of selectedBannerFiles;let i=index;">
              <app-item-box [data]="item?.base64Url ? item?.base64Url : item" [currentIndex]="i"
                (sendCurrentIndex)="getCurrentIndex($event)">
              </app-item-box>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-20 mb-20">
        <mat-label class="bold">Banner Used</mat-label> <br /><br />
        <mat-radio-group formControlName="template">
          <mat-radio-button *ngFor="let item of templateType" [value]="item?.value">{{item?.name}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-12">
        <quill-editor formControlName="content"></quill-editor>
        <div id="ql-editor1" hidden [innerHTML]="f.content.value | safe:'html'"></div>
      </div>
    </div>
    <div class="btn-cover">
      <button type="button" class="btn btn-simple" mat-stroked-button (click)="cancelHandler()">Cancel</button>
      <button type="submit" class="btn btn-primary" mat-stroked-button>{{bannerId? 'Update':'Save'}}</button>
    </div>
  </form>
</div>
