._shadowImage {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    img,
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image_uploader {
    width: 350px;
    height: 200px;
    position: relative;
    margin: auto;
    margin-bottom: 21px;
    cursor: pointer;

    @media (max-width: 767px) {
        width: 100%;
    }

    &:hover {
        .file-button {
            display: block;
        }
    }
}