@import "../../../../../../scss/popup-ui";
@import "../../../../../../scss/mix";
.flex-form {
    @include fpos(flex-start, space-between);
    padding: 16px;
    background: #e0e0e021;
    margin: 16px;
    .image-upload {
        width: 120px;
        .img {
            width: 100px;
            height: 100px;
        }
        button {
            height: 40px !important;
            min-width: 100px !important;
            margin-top: 10px;
            border-color: $primary;
            color: $primary;
        }
    }
    .confirmation-modal {
        flex: 1;
    }
}
// .expand-popup{
//     width: 540px;
// }
