@import "../../../../../../scss/popup-ui";
.expand-popup{
    width: 650px;
}
.popup-form{
    @include fpos(flex-start,flex-start);
    flex-wrap: wrap;
    flex-direction: column;
    .inner-form{
        max-width: 432px;
        width: 100%;
        margin: auto;
    }
}