<div class="page-welcome-mssg-detail popup-ui">
  <div class="popup-header">
    <h4>Broadcast Notification Details</h4>
    <span class="material-icons close-icon" mat-dialog-close>close</span>
  </div>
  <div class="popup-body detail-ui left">
    <div class="row">
      <div class="col-6">
        <p class="label">Title</p>
        <p class="value">{{data?.title | emptyValue}}</p>
      </div>
      <div class="col-6">
        <p class="label">Platform</p>
        <p class="value">{{data?.platform |emptyValue}}</p>
      </div>
      <div class="col-6">
        <p class="label">Added On</p>
        <p class="value">{{data?.createdAt | date: dateType.DATE_WITH_TIME}}</p>
      </div>
      <div class="col-6">
        <p class="label">Notification Status</p>
        <p class="value">{{data?.notificationStatus}}</p>
      </div>
      <ng-container *ngIf="data?.notificationStatus == (notifStatus.SENT|titlecase)">
        <div class="col-6">
          <p class="label">Sent Time</p>
          <p class="value">{{data?.sentTime ? ( data?.sentTime| date: dateType.DATE_WITH_TIME) : '-'}}</p>
        </div>
      </ng-container>
      <ng-container *ngIf="data?.notificationStatus == (notifStatus.SCHEDULED|titlecase)">
        <div class="col-6">
          <p class="label">Scheduled Time</p>
          <p class="value">{{data?.scheduleTime ? ( data?.scheduleTime| date: dateType.DATE_WITH_TIME) : '-'}}</p>
        </div>
      </ng-container>
      <ng-container *ngIf="data?.image && data?.image?.length>0">
        <div class="col-12">
          <p class="label">Notification Image</p>
          <div class="uploaded-photo-list">
            <div class="single-uploaded-photo" *ngFor="let item of data?.image">
              <app-item-box [data]="item" [showDeleteOption]="false">
              </app-item-box>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="col-12">
        <p class="label">Message</p>
        <p class="value">{{data?.message |emptyValue}}</p>
      </div>
    </div>
  </div>
</div>
