<div class="page-add-notification">
  <form [formGroup]="notificationForm" (ngSubmit)="notificationHandler()">
    <div class="row">

      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Enter Title" [attr.maxlength]="_limit?.MAX_TITLE_LENGTH" formControlName="title"
            autocomplete="off" required />
          <mat-error>{{errMsg.TITLE_REQ}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Send to: Select Platform</mat-label>
          <mat-select placeholder="Select Platform" formControlName="platform" required>
            <mat-option *ngFor="let option of notificationPlatform" [value]="option?.value">{{option?.name}}
            </mat-option>
          </mat-select>
          <mat-error>{{errMsg.PLATFORM_REQ}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 mt-20">
        <div class="document-upload-cover">
          <ng-container *ngIf="selectedFile?.length<maxImageSelection">
            <app-upload-img
              [textInfo]="'Select any one image(Optional), Max 2 MB size and supported JPEG, PNG, JPG only'"
              [isMultiSelection]="false" (sendFiles)="getSelectedFile($event)"></app-upload-img>
          </ng-container>
          <div class="uploaded-photo-list" *ngIf="selectedFile?.length>0">
            <div class="single-uploaded-photo" *ngFor="let item of selectedFile;let i=index;">
              <app-item-box [data]="item?.base64Url ? item?.base64Url : item" [currentIndex]="i"
                (sendCurrentIndex)="getCurrentIndex($event)">
              </app-item-box>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-20">
        <mat-label class="bold">Notification Message</mat-label>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <textarea matInput #disc1 placeholder="Enter Message" [attr.maxlength]="_limit?.MAX_TITLE_LENGTH"
            formControlName="message" autocomplete="off" required></textarea>
          <mat-hint align="end">{{disc1.value.length}} / {{_limit?.MAX_DES_LENGTH}}</mat-hint>
          <mat-error>{{errMsg.MESSAGE_REQ}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-cover">
      <button type="button" class="btn btn-simple" mat-stroked-button (click)="cancelHandler()">Cancel</button>
      <button type="submit" class="btn btn-primary" mat-raised-button
        (click)="currentAction=notificationStatus.SENT">Send</button>
      <button type="submit" class="btn btn-primary" mat-raised-button
        (click)="currentAction=notificationStatus.SCHEDULED">Schedule</button>
      <button type="submit" class="btn btn-primary" mat-raised-button
        (click)="currentAction=notificationStatus.DRAFTED">Draft</button>
    </div>
  </form>
</div>
