<ng-container *ngIf="showButtonHandler; else iconHandler">
  <div class="default-preview">
    <img [src]="'assets/images/svg/image-add-fill-copy.svg'" alt="img"/>
    <div class="upload-support">
      {{ textInfo }}
    </div>
    <button type="button" mat-raised-button color="primary" class="upload-btn" (click)="myInputFile.click()">
      <input #myInputFile type="file" onclick="this.value = null" style="display: none" accept="image/*"
        (change)="fileChangeEvent($event)" [multiple]="isMultiSelection" />
      Upload Photo
    </button>
  </div>
</ng-container>

<ng-template #iconHandler>
  <button type="button" mat-mini-fab color="primary" class="upload-btn upload-icon" (click)="myInputFile.click()">
    <input #myInputFile type="file" onclick="this.value = null" style="display: none" accept="image/*"
      (change)="fileChangeEvent($event)" />
    <mat-icon class="edit">edit</mat-icon>
  </button>
</ng-template>
