<div class="page-otp-box">
  <h3 class="text-primary bold mb-10">Enter OTP</h3>
  <p class="secondary-text mb-30">
    We have sent 4 digit verification code to <span class="text-primary">{{routerResolverObj?.info['email']}}</span>
  </p>

  <div class="otp_input_wrapper otp-input">
    <input type="text" class="sms-no-box inner-input" [(ngModel)]="otpObj.otp1" (keyup)="keytab($event, 1)"
      autocomplete="off" [maxlength]="1" number (keyup.backspace)="onBackspace($event)" />
    <input type="text" class="sms-no-box inner-input" [(ngModel)]="otpObj.otp2" (keyup)="keytab($event, 1)"
      autocomplete="off" [maxlength]="1" number (keyup.backspace)="onBackspace($event)" />
    <input type="text" class="sms-no-box inner-input" [(ngModel)]="otpObj.otp3" (keyup)="keytab($event, 1)"
      (keyup.backspace)="onBackspace($event)" autocomplete="off" [maxlength]="1" number />
    <input type="text" class="sms-no-box inner-input" [(ngModel)]="otpObj.otp4" (keyup)="keytab($event, 1)"
      (keyup.backspace)="onBackspace($event)" autocomplete="off" [maxlength]="1" number />
  </div>

  <p class="flex-center mt-30 mb-20" *ngIf="otpTimerObj?.timer=='0:00'">Didn't receive OTP? <a class="ml-10 bold"
      (click)="reSendOtp()">Resend OTP</a></p>

  <p class="flex-center mt-30 mb-20" *ngIf="otpTimerObj?.timer!='0:00'">Resend in: <span
      class="text-orange bold ml-5">{{otpTimerObj?.timer}}</span></p>

  <div class="btn-cover">
    <button mat-raised-button class="btn btn-primary" (click)="verifyOtp()">Next</button>
  </div>
</div>
