<app-data-loader *ngIf="isApiCallInProgress;else apiHit"></app-data-loader>
<ng-template #apiHit>
  <div class="page-banner-detail">
    <div class="detail-ui">
      <div class="row">
        <div class="col-4">
          <p class="label">Name</p>
          <p class="value">{{subAdminDetails?.name |emptyValue}}</p>
        </div>
        <div class="col-4">
          <p class="label">Email Address</p>
          <p class="value">{{subAdminDetails?.email |emptyValue}}</p>
        </div>
        <div class="col-4">
          <p class="label">Role</p>
          <p class="value">{{subAdminDetails?.role |emptyValue}}</p>
        </div>
        <div class="col-4">
          <p class="label">Status</p>
          <p class="value">{{subAdminDetails?.status | formatStatus}}</p>
        </div>
        <div class="col-4">
          <p class="label">Created On</p>
          <p class="value">{{subAdminDetails?.createdAt |date:dateType?.DATE_WITH_TIME}}</p>
        </div>
      </div>
    </div>
  </div>
  <app-show-permissions [permissions]="subAdminDetails?.permission"></app-show-permissions>
</ng-template>
