@import "../../../../../../scss/popup-ui";
.expand-popup {
    width: 540px;
}
.popup-form {
    @include fpos(center, space-between);
    flex-wrap: wrap;
    .inner-form {
        flex: 0 0 48%;
    }
}

::ng-deep {
    .tabbing_chat {
        padding: 16px;
        .mat-tab-group {
            .mat-ink-bar {
                background-color: $primary !important;
            } 
            .mat-tab-label {
                border: 2px solid transparent !important;
                border-top-left-radius: 0.25rem !important;
                border-top-right-radius: 0.25rem !important;
            }

            .mat-tab-label-active {
                color: #495057 !important;
                background-color: #fff !important;
                border-color: #dee2e6 #dee2e6 #fff !important;
                border: 2px solid black;
            }
            .mat-ink-bar {
                display: none !important;
            }
        }
    }
}
