@import "../../../../../../../../scss/popup-ui";
@import "../../../../../../../../scss/mix";
.popup-width{
    max-height: 450px;
    overflow: auto
}
.flex-form {
    @include fpos(flex-start, space-between);
    .image-upload {
        width: 120px;
        .img {
            width: 100px;
            height: 100px;
        }
        button {
            height: 40px !important;
            min-width: 100px !important;
            margin-top: 10px;
            border-color:$primary;
            color:$primary;
        }
    }
    .confirmation-modal {
        flex: 1;
    }
}
.single-btn{
    margin: 15px 0px 0px;
}
.popup-width{

}