@import "../../../scss/var";

.tabbing_chat {
    display: inline-block;
    overflow: auto;
    width: 100%;

    .mat-tab-nav-bar {
        overflow: auto;

        .mat-tab-link {
            font-size: 15px;
            font-weight: 500;
            min-width: 120px;
            font-size: 14px;
            font-weight: 600;

            &.mat-tab-label-active {
                border-radius: 6px 6px 0px 0px;
                opacity: 1;
                color: $primary;
            }
        }
    }
}

:host ::ng-deep {
    .mat-ink-bar {
        background-color: $primary !important;
    }
}