@import "../../../../scss/mix";
.page-head {
    @include fpos(center, space-between);
    width: 100%;
    .right-side {
        @include fpos(center, flex-end);
        button {
            height: 47px !important;
            margin-left: 15px;
            position: relative;
            top: -3px;
        }
    }
}
