@import "../../../scss/mix";

.page-layout-screen {
    min-height: 100vh;

    .header {
        width: 100%;
        position: absolute;
        z-index: 20;
    }

    .content-cover {
        @include flexbox;
        width: 100%;
        transition: 0.3s;

        app-sidebar {
            width: 295px;
            transition: 0.3s;
            z-index: 10;
            position: fixed;
            top: 64px;
            bottom: 0px;
            background-color: $white;

            @media screen and (max-width: 992px) {
                width: 260px;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            @media screen and (max-width: 576px) {
                top: 65px;
            }
        }

        .main-content {
            width: calc(100% - 295px);
            padding: 20px;
            transition: 0.3s;
            position: fixed;
            bottom: 0px;
            top: 64px;
            left: 295px;
            background-color: $layout-bg;
            @include scroller;

            @media screen and (max-width: 992px) {
                width: calc(100% - 260px);
                left: 260px;
            }

            @media screen and (max-width: 576px) {
                top: 52px;
            }

            &>main {
                padding: 20px;
                border-radius: 10px;
                background-color: $white;
                // box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }
}