<div class="page-add-edit-banners">
  <form [formGroup]="subAdminForm" (ngSubmit)="subAdminHandler()">
    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput [maxlength]="_limit?.MAX_NAME_LENGTH" formControlName="name" autocomplete="off" required>
          <mat-error>{{errMsg.NAME_REQ}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-4" [ngClass]="{_disabled: subAdminId}">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input #email matInput type="email" (blur)="trimValues()" [prevent-keys]="[32]"
            [maxlength]="_limit?.MAX_EMAIL_LENGTH" formControlName="email" autocomplete="off" required />
          <mat-error *ngIf="f.email.hasError('required')">{{errMsg?.EMAIL_REQ}}</mat-error>
          <mat-error *ngIf="f.email.hasError('pattern')">{{errMsg?.INVALID_EMAIL}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>Select Role</mat-label>
          <mat-select placeholder="Select Role" formControlName="roleId"
            (selectionChange)="onChangeRoleSelection($event.value)" required>
            <mat-option disabled *ngIf="!roles || roles?.length <= 0">
              <ng-container>
                {{isRoleApiCallInProgress ? 'Loading...':'Please add role first'}}
              </ng-container>
            </mat-option>
            <mat-option *ngFor="let option of roles" [disabled]="option?.status==1" [value]="option?._id">{{option?.role
              | titlecase}}
            </mat-option>
          </mat-select>
          <mat-error>{{errMsg.ROLE_REQ}}</mat-error>
        </mat-form-field>
      </div>

    </div>
    <ng-container *ngIf="f.roleId.value && selectedRolePermission?.length>0">
      <app-show-permissions [permissions]="selectedRolePermission"></app-show-permissions>
    </ng-container>
    <div class="btn-cover">
      <button type="button" class="btn btn-simple" mat-stroked-button (click)="cancelHandler()">Cancel</button>
      <button type="submit" class="btn btn-primary" mat-stroked-button>{{subAdminId? 'Update':'Save'}}</button>
    </div>
  </form>
</div>
