@import "./scss/global-style";
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
}
.password-hint-menu {
    padding: 15px !important;
    max-width: 300px !important;
    min-height: auto !important;
}

.cdk-overlay-pane {
    max-width: 95vw !important;
    height: auto !important;
    max-height: calc(100vh - 50px);

    .mat-dialog-container {
        background-color: $white;
        overflow: hidden;
        color: $black;
    }
}

.highcharts-title {
    display: none;
}

.timepicker-overlay {
    z-index: 9999 !important;
}

.timepicker__header {
    background-color: $primary !important;
}

.timepicker-button {
    color: $primary !important;
}

.showLessWidthDotDot {
    @include text-truncate(1);
}