@import "../scss/mix";
@import "../scss/var";

.popup-ui {
    background:#f1f1f2;
    .popup-header {
        padding: 15px 20px;
        background-color: $primary;
        border-radius: 3px 3px 0px 0px;
        color: $white;
        position: relative;
        @include fpos(center, flex-start);

        .close-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
            cursor: pointer;
            color: $white;
        }

        .close-left {
            margin-right: 10px;
        }

        h4 {
            color: $white;
            text-transform: capitalize;
            font-weight: 500;
        }
    }

    .popup-body {
        text-align: center;
        padding: 30px 20px;
        max-height: calc(100vh - 160px);
        @include scroller;
        h4 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 26px;
        }
        p {
            margin: 0px;
        }
    }
    .text-left {
        text-align: left !important;
    }

    .popup-footer {
        padding-bottom: 20px;
        .btn-cover {
            @include fpos(center, center);
            margin: 0px -10px;

            .btn {
                margin: 10px;
                min-width: 110px !important;
            }
        }
        .single-btn {
            text-align: left;
            margin-left: 22px;
        }
    }
}
