@import "../scss/mix";
@import "../scss/var";

.popup-ui {
    background: $white;
    .popup-header {
        padding: 30px 20px 0px;
        background-color: $white;
        border-radius: 3px 3px 0px 0px;
        color: $black;
        position: relative;
        @include fpos(center, flex-start);
        .popup-inner-header {
            max-width: 432px;
            padding-left: 88px;
        }
        .close-icon {
            position: absolute;
            right: 34px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
            cursor: pointer;
            color: $black;
        }

        .close-left {
            margin-right: 10px;
        }
        h4 {
            color: $black;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 24px;
        }
    }

    .popup-body {
        text-align: center;
        padding: 20px 20px;
        max-height: calc(100vh - 160px);
        @include scroller;
        h4 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 26px;
        }
        p {
            margin: 0px;
        }
    }
    .text-left {
        text-align: left !important;
    }

    .popup-footer {
        padding-bottom: 20px;
        .btn-cover {
            @include fpos(center, center);
            margin: 0px -10px;

            .btn {
                margin: 10px;
                min-width: 110px !important;
            }
        }
        .single-btn {
            text-align: left;
            max-width: 432px;
            width: 100%;
            margin: 0px auto 20px;
            button {
                width: 100%;
            }
        }
        .btn-ex-large {
            max-width: 96%;
            width: 100%;
            margin: 0px auto 20px;
            button {
                width: 100%;
            }
        }
    }
}
