@import '../../../scss/var';

.permission_table {
    overflow: auto;
    min-width: 800px;
    padding: 0px 0px;
    padding-bottom: 10px;
    transition: 0.3s ease-in;

    @media (max-width: 1400px) {
        height: auto;
    }

    table {
        width: 100%;
        border: 1px solid $secondary-light;
        border-collapse: collapse;

        thead {
            th {
                font-size: 14px;
                color: $white;
                position: sticky;
                z-index: 999;
                top: 0px;
                background: $primary-light;
                padding: 12px;
                font-weight: 500;

                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }

        tbody {
            td {
                font-size: 14px;
                padding: 12px;
                white-space: nowrap;
                border-bottom: 1px solid $secondary-light;

                .mat-checkbox {
                    margin-bottom: 0;
                }

                &.left-table {
                    font-weight: 500;
                }
            }

            .permison-content {
                font-size: 15px;

                .done {
                    position: relative;
                    font-size: 21px;
                    top: 4px;
                    color: $green;
                }

                .reject {
                    position: relative;
                    font-size: 21px;
                    top: 4px;
                    color: $red;
                }
            }
        }
    }
}