@import '../../../scss/mix';

.page-global-cms {
    color: black;
    background-color: $watchlist-filter-bg;
    min-height: 100vh;
    padding: 40px 2%;

    .global-cms-content {
        width: 800px;
        max-width: 90%;
        margin: 20px auto;
        padding: 20px;
        box-shadow: none;
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);

        p {
            word-break: break-all;
        }
    }
}

:host ::ng-deep {
    p {
        line-height: 1.5 !important;
    }
}